.active{
    display: inline;
}
.deactive{
    display: none;
}
.row{
    margin: 0 19px!important;
}
.card{
    height: 181px  !important;
    border:none;
}
.hover{
    background: rgb(5,192,230);
    background: linear-gradient(125deg, rgba(5,192,230,1) 0%, rgba(230,5,208,1) 87%);
    border:none;
   
}
.card:hover a{
    color: black;
    background: white !important;
}
.card-text{
    height: 68px;
}
.cardBottom{
    margin-top: 13px;
}
.cardBottom>span{
    font-size: 25px;
}
.cardBottom>button{
    margin-left: 136px;
    border-radius: 20px;
    background: rgb(5,192,230);
    background: linear-gradient(125deg, rgba(5,192,230,1) 0%, rgba(230,5,208,1) 87%);
    border:none;
    width: 120px;
    text-align: center;
}
/* .cardBottom>a:hover{
    color: black;
    background-color: white !important;
} */

.cardLeft{
    float: left;
    width: 236px;
    margin-top: 15px;
}
.cardLeft>p{
    font-size: 15px;
}
.cardLeft>h5{
    font-size: 20px;
    font-weight: bold;
}
.cardRight{
    float: right;
}
.cardRight>img{
    width: 110px;
    height: 100px;
    margin-top: 17px;
    margin-right: 17px;

    border-radius: 10px;
}
.payButton{
    
    /* display: inline; */
    position: relative;
    bottom: 38px;
    left: 237px;
}
.payButton>button{
    border: none;
    border-radius: 25px;
    width: 33px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    
}
.payButton>span{
    background-color: rgb(255, 255, 255);
    padding: 5px 23px;
    text-align: center;
    border-radius: 16px;
    margin: 0 6px;
}