h3{
    padding-left: 15px;
}

/* th,td:first-child{
    padding-left: 18px !important;
} */
.table>th,tr{
    color: white;
}

.count>span{
    margin: 0 8px;
}
.count>button{
background: rgb(5,192,230);
background: linear-gradient(125deg, rgba(5,192,230,1) 0%, rgba(230,5,208,1) 87%);
color: white;

border-radius: 50%;
border: none;
}
.bottom{
    
    flex-wrap: nowrap;
    position: relative;
    top: 610px;
    display: inline;
    margin-left: 10px;
}
.button{
    margin-left: 14rem;
    position: relative;
    top: 587px;
}
.bottom>span{
   color:white;
   margin-left: 5x;
}

/* .bottom>button{
    border: none;
    padding: 3px 15px;
    background: rgb(5,192,230);
    background: linear-gradient(125deg, rgba(5,192,230,1) 0%, rgba(230,5,208,1) 87%);
    border-radius: 10px;
    color:white;
} */